@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-7 hover:scale-125 transition-transform duration-200 ease-out cursor-pointer;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 1000px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
